*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(17, 100%, 94%);
}

.app {
  margin: auto;
  max-width: 700px;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-auto-rows: 50px;
  justify-content: center;
}

.cell {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell[data-status="number"] {
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 100%);
}

.cell[data-status="mine"] {
  background-color: hsl(0, 70%, 60%);
}

.cell[data-status="marked"] {
  background-color: hsl(60, 70%, 60%);
}
